.btn-green{
  background:#10b981;
  padding:8px 14px;
  border-radius:8px;
}
.btn-green:hover{background:#059669}

.btn-blue{
  background:#3b82f6;
  padding:8px 14px;
  border-radius:8px;
}
.btn-blue:hover{background:#2563eb}

.card{
  background:#0f172a;
  border:1px solid #1e293b;
  border-radius:16px;
  padding:16px;
}

table th, table td{
  padding:8px;
  border-bottom:1px solid #1e293b;
}

input, select{
  background:#020617;
  border:1px solid #334155;
  border-radius:6px;
  padding:4px;
  width:100%;
}
